@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  margin: 10px;
}
body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}
header {
  border-bottom: 7px solid #eee;
  text-align: center;
  position: relative;
  padding: 10px;
}
.container {
  max-width: 1000px;
  margin: 120px auto;
}
main {
  margin-top: 80px;
}
h1 {
  margin-bottom: 65px;
  padding: 20px;
  font-size: 2.5rem;
}
p {
  font-size: 20px;
  padding: 10px;
}

.number {
  background: #eee;
  color: #333;
  font-size: 4rem;
  width: 10rem;
  padding: 1rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
input[type="submit"] {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #222;
}
input[type="submit"]:hover {
  background-color: #ccc;
  border: none;
}
input[type="number"] {
  border: 4px solid #eee;
  background: transparent;
  font-size: 3rem;
  width: 11rem;
  padding: 1.5rem 2rem;
  text-align: center;
  color: inherit;
  display: block;
  margin: 0 0 2rem 2rem;
  font-family: inherit;
}
.check {
  margin-left: 90px;
}
.text {
  margin: 10px;
}
.message {
  margin-bottom: 80px;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.correct {
  background-color: #60b347;
}
.lose {
  background-color: red;
}
